*

!alacritty/
!alacritty/**

!tmux/
!tmux/**

!aerospace/
!aerospace/**

!fish/
!fish/config.fish
!fish/functions/fish_prompt.fish

!git/**

!karabiner/
!karabiner/karabiner.json

!kmonad/
!kmonad/config.kbd

!nvim
!nvim/**

!tmux/
!tmux/tmux.conf

