*

!alacritty/
!alacritty/**

!tmux/
!tmux/**

!aerospace/
!aerospace/**

!fish/
!fish/config.fish
!fish/functions/fish_prompt.fish

!git/**

!nvim
!nvim/**

!tmux/
!tmux/tmux.conf

!kanata
!kanata/**
