*

!alacritty/
!alacritty/**

!tmux/
!tmux/**

!aerospace/
!aerospace/**

!fish/
!fish/config.fish
!fish/functions/
!fish/functions/**

!git/
!git/config
!git/.gitignore_global

!karabiner/
!karabiner/karabiner.json

!kmonad/
!kmonad/config.kbd

!nvim
!nvim/**

!tmux/
!tmux/tmux.conf


